---
import { HEAD } from 'astro:env/client';

interface Props {
	/** Name of the directory in `examples/` that contains the code for this example. */
	localProjectId: string;
	/** Title for this example to display in the StackBlitz embed. Also used to provide an accessible label for the embed iframe. */
	title: string;
	/** Description of this example to display in the StackBlitz embed. */
	description?: string;
	options: {
		/** Open files to display in the StackBlitz editor. Comma-separated file names are displayed as tabs. An array of file names is displayed as side-by-side panels. */
		openFile: string | string[];
		/** Set to true to display a modal and defer loading the project until a user clicks. */
		clickToLoad?: boolean;
		/** Set to true to expand the sidebar on load (only works on larger screens). */
		showSidebar?: boolean;
	};
}
const { localProjectId, title, description, options } = Astro.props;
if (!localProjectId) {
	throw new Error('Missing props for `<StackBlitz>` component. `localProjectId` is required.');
}

const embedUrl = new URL(
	`https://stackblitz.com/github/delucis/starlight-examples/tree/${HEAD}/examples/${localProjectId}`
);
embedUrl.searchParams.set('embed', '1');
if (Array.isArray(options.openFile)) {
	for (const file of options.openFile) {
		embedUrl.searchParams.append('file', file);
	}
} else {
	embedUrl.searchParams.set('file', options.openFile);
}
if (options.clickToLoad) embedUrl.searchParams.set('ctl', '1');
if (options.showSidebar) embedUrl.searchParams.set('showSidebar', '1');
if (description) embedUrl.searchParams.set('description', description);
if (title) embedUrl.searchParams.set('title', title);
---

<div>
	<iframe
		class="sb-iframe"
		src={embedUrl.href}
		height="300"
		title={`StackBlitz embedded IDE: ${title}`}></iframe>
</div>

<style>
	.sb-iframe {
		margin-block: 2rem;
		border: none;
		background-color: var(--sl-color-gray-6);
		box-shadow: var(--sl-shadow-lg);
		width: 100%;
		--vheight: 100vh;
		height: min(
			calc(var(--vheight) - var(--sl-nav-height) - var(--sl-content-pad-x)),
			40rem
		) !important;
	}
	@supports (height: 100svh) {
		.sb-iframe {
			--vheight: 100svh;
		}
	}
</style>
